<div id="TA_cdswritereviewnew309"
     class="TA_cdswritereviewnew"
     style="margin: auto; width: 50%; margin-bottom: 30px;">

  <ul id="mSXWB48VxxCf"
      class="TA_links flPv3V">

    <li id="nOZLeMb"
        class="na5h8L0cFFM">
      <a target="_blank"
         href="https://www.tripadvisor.ca/">

        <img src="https://www.tripadvisor.ca/img/cdsi/img2/branding/medium-logo-29834-2.png" alt="TripAdvisor"/>

      </a>

    </li>

  </ul>

</div>

<script
  src="https://www.jscache.com/wejs?wtype=cdswritereviewnew&amp;uniq=309&amp;locationId=4852931&amp;lang=en_CA&amp;lang=en_CA&amp;display_version=2"></script>
