/**********************************************************************
*
* app/class/acc/hcnHttpAcc.ts
*
* author: Patrick Dooley
*
*
**********************************************************************
*
* Copyright (c) 2017 The Hotel Communication Network Incorporated
*
**********************************************************************/

<div fxFill
	 class="hcn-page">


	<div fxLayout="column"
		 fxLayoutAlign="center center">

		<div>

			<button mat-raised-button
					color="primary"
					(click)="onOpenDlg()">
				Open Dlg!
			</button>

		</div>

	</div>


	<hcn-metric-state></hcn-metric-state>
	<hcn-resp-state></hcn-resp-state>
	<hcn-emails-state></hcn-emails-state>
	<hcn-critique-state></hcn-critique-state>
	<hcn-page-state></hcn-page-state>
	<hcn-tripadvisor-state></hcn-tripadvisor-state>

</div>
