/**********************************************************************
 *
 * app/class/acc/hcnHttpAcc.ts
 *
 * author: Patrick Dooley
 *
 *
 **********************************************************************
 *
 * Copyright (c) 2017 The Hotel Communication Network Incorporated
 *
 **********************************************************************/

.hcn-page {
}

.example-form {
		min-width: 150px;
		max-width: 500px;
		width: 100%;
}

.example-full-width {
		width: 100%;
}

.panel {
		padding: 0px;
}
