/**********************************************************************
 *
 * app/class/acc/hcnHttpAcc.ts
 *
 * author: Patrick Dooley
 *
 *
 **********************************************************************
 *
 * Copyright (c) 2017 The Hotel Communication Network Incorporated
 *
 **********************************************************************/

.hcn-icon {
		float: left;
		font-size: 48px !important;
		width: 48px;
		height: 48px;
}

.hcn-left {
		width: 30%;
		float: left;
}

.hcn-right {
		width: 70%;
		float: left;
}
