/**********************************************************************
 *
 * app/class/acc/hcnHttpAcc.ts
 *
 * author: Patrick Dooley
 *
 *
 **********************************************************************
 *
 * Copyright (c) 2017 The Hotel Communication Network Incorporated
 *
 **********************************************************************/

.page {
/ / background-image: url('/fairmont.jpg');
		margin: 0 auto;
}

.hcn-icon {
		float: right;
		font-size: 48px !important;
		width: 48px;
		height: 48px;
}

.hcn-content {
		padding-top: 150px;
}
