/**********************************************************************
 *
 * app/class/acc/hcnHttpAcc.ts
 *
 * author: Patrick Dooley
 *
 *
 **********************************************************************
 *
 * Copyright (c) 2017 The Hotel Communication Network Incorporated
 *
 **********************************************************************/

.page {
/ / background-image: url('/fairmont.jpg');
}

.hcn-left {
		width: 50%;
/ / margin: 30 px;
		float: left;
}

.hcn-right {
		width: 50%;
		float: left;
/ / margin: 30 px;
}
