/**********************************************************************
*
* app/class/acc/hcnHttpAcc.ts
*
* author: Patrick Dooley
*
*
**********************************************************************
*
* Copyright (c) 2017 The Hotel Communication Network Incorporated
*
**********************************************************************/

<div mat-dlg-actions
	 fxLayout="row"
	 fxLayoutAlign="end end">

	<button mat-button
			(click)="onSubmit()"
			color="primary">
		{{ infoLeft.title.sMain }}
	</button>

	<button mat-button
			(click)="onCancel()"
			color="warn">
		{{ infoRight.title.sMain }}
	</button>

</div>
