/**********************************************************************
*
* app/class/acc/hcnHttpAcc.ts
*
* author: Patrick Dooley
*
*
**********************************************************************
*
* Copyright (c) 2017 The Hotel Communication Network Incorporated
*
**********************************************************************/

<mat-horizontal-stepper>

	<mat-step [stepControl]="optionGroup">

		<ng-template matStepLabel>
			Option
		</ng-template>

		<hcn-form-option [critique]="critique"
						 [group]="optionGroup"
						 (cancel)="onCancel()">
		</hcn-form-option>

	</mat-step>


	<mat-step [stepControl]="textGroup">

		<ng-template matStepLabel>
			Feedback
		</ng-template>

		<hcn-form-text [critique]="critique"
						 [group]="textGroup"
						 (cancel)="onCancel()">
		</hcn-form-text>

	</mat-step>


	<mat-step [stepControl]="contactGroup">

		<ng-template matStepLabel>
			Contact Info
		</ng-template>

		<hcn-form-contact [critique]="critique"
							[group]="contactGroup"
							[guest]="guest"
							(cancel)="onCancel()">
		</hcn-form-contact>

	</mat-step>

	<mat-step>

		<ng-template matStepLabel>
			Done
		</ng-template>

		<hcn-form-complete [critique]="critique"
							 (cancel)="onCancel()"
							 (submit)="onSubmit()">
		</hcn-form-complete>

	</mat-step>

</mat-horizontal-stepper>
