/**********************************************************************
*
* app/class/acc/hcnHttpAcc.ts
*
* author: Patrick Dooley
*
*
**********************************************************************
*
* Copyright (c) 2017 The Hotel Communication Network Incorporated
*
**********************************************************************/

<div class="hcn-buttons">

	<div class="hcn-half hcn-left">

	</div>

	<div class="hcn-half hcn-right">

		<button class="hcn-button hcn-center"
				mat-button
				(click)="onClose()">
			{{ info.title.sMain }}
		</button>

	</div>

</div>


