@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
		font-family: 'Open Sans', serif;
}

.hcn-panel {
		padding: 0px;
}

.hcn-dlg-backdrop {
		background: lightcoral;
}

.mat-dlg-content {
		padding: 0 !important;
}

.mat-dlg-container {
		padding: 0px !important;
}

.hcn-page {
		width: 100%;
		height: 100%;
}

.hcn-table {
		width: 100%;
}
