@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* fallback */
@font-face {
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		src: url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		display: inline-block;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-webkit-font-feature-settings: 'liga';
		-webkit-font-smoothing: antialiased;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
}

body {
		color: black;
}

img {
		max-width: 100%;
		max-height: 100%;
}

.center {
		text-align: center;
}

.centerDiv {
		text-align: center;
		width: 100%
}

.col-1-2 {
		width: 50%;
		padding: 25px;
}

.left {
		float: left;
}

.right {
		float: left;
}

.narrower {
		display: inline-block;
		width: 80%;
		height: auto;
		overflow: hidden;
}

a {
		color: inherit;
}

.hcn-button {
		float: right;
		border: 0px;
		background: inherit;
		padding: 10px;
}

.hcn-card {
		background: #fff;
		border-radius: 2px;
		margin: 1rem;
}

.hcn-card-5 {
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.mat-dlg-container {
		padding: 20px !important;
}

h1 {
		margin: 10px;
}

h3 {
		margin: 10px;
}

h4 {
		margin: 10px;
}
