<div fxLayout="column"
	 fxLayoutAlign="center center">
	<h3 [style.margin.px]="2">

		{{ info.sTitle }}
	</h3>

	<h3 [style.margin.px]="2">
		{{ info.sSubTitle }}
	</h3>

	<router-outlet></router-outlet>

</div>



