<div fxLayout="column"
	 fxLayoutAlign="center center"
	 [style.height.px]="info.title.nHeight">

	<div fxLayout="row">

		<img src="{{ info.logo.sUrl }}"
			 width="150px"
			 alt="{{ info.logo.sAlt }}">

		<div *ngIf="info.bIsXVisible">

			<button mat-icon-button
					(click)="onCancel()"
					[style.padding.px]="0">

				<mat-icon class="kw-icon">
					close
				</mat-icon>

			</button>

		</div>

	</div>

	<div fxLayout="row"
		 fxLayoutAlign="center center"
		 [style.height.px]="info.nHeight">

		<div mat-dlg-title>

			<h6 i18n>
				{{ info.title.sMain }}
			</h6>

			<h1 i18n>
				{{ info.title.sSub }}
			</h1>

			<h5 class="kw-third">
				{{ info.title.sThird }}
			</h5>

		</div>

	</div>


</div>
